

<img class="info-window-image mb-1" src="https://loremflickr.com/180/140/nature?random=<%= rand(1..100) %>">
<h6 ><%= link_to adventure.title, adventure_path(adventure), class: "map-popup" %></h6>

<%= adventure.category.capitalize %><br>

<% adventure.avg_rating.round.times do %>
    <span class="fas fa-star"></span>
  <% end %>
  <% (5 - adventure.avg_rating.round).times do  %>
    <span class="far fa-star"></span>
  <% end %>



