
<h1>Adventures</h1>


<div class="container">

  <table>
    <head>
      <tr>
        <th>Title</th>
        <th>Address</th>
      </tr>
    </head>

    <tbody>
      <!-- map -->
      <div id="map"
         style="width: 40%; height: 200px;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
      <!-- Top 5 -->
      <% @adventures.each do |adventure| %>
        <tr>
          <td><%= adventure.title %></td>
          <td><%= adventure.address %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
