<div class="container">
  <div class="row justify-content-center">
    <div class="mt-4 col-sm-12 col-lg-6">
      <h1>Share your adventure</h1>
      <%= render 'form', adventure: @adventure %>
    </div>
  </div>
</div>
