<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.0),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1563543054715-4f60d55bccb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Mini Adventure Guide</h1>
      <p>Coming soon. Plan mini adventures.</p>
  </div>
</div>
