.banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 95vH;
  position: relative;
  padding: 200px 0;
  margin-bottom: 16px;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: #FFF200;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgb(144, 144, 144);

}

.banner p {
  font-size: 20px;
  color: #FFF200;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-show {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  position: relative;
  padding: 200px 0;
  margin-bottom: 16px;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: #FFF200;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  font-size: 48px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgb(144, 144, 144);

}

.banner p {
  font-size: 20px;
  color: #FFF200;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

#header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bookmark {
  //   margin-bottom: 1.3em;
  display: inline-block;
  align-self: flex-start;
}

#star-rating {
  font-size: 0.8rem;
  display: inline-block;
  align-self: flex-end;
  padding-bottom: 1.75em;
  padding-left: 0.5rem;
}

#adventure-title {
  display: flex;
}

.show-title {
  padding-bottom: 0.5rem;
}

#middle-container {
  display: grid;
  grid-row: 1fr 1fr;
  grid-gap: 1em;
}

