.btn-ghost {
  color: #4A4A4A;
  border-radius: 50px;
  border: 1px solid #4A4A4A;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.nav-btn {
  width: 177px !important;
  text-align: center;
}

.yellow {
  border: 2px solid #FFF152;
  color: #FFF152;

}

.btn-ghost:hover, .btn:active {
  background-color: #FFF152;
  color: $gray;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-ghost:focus {
  background-color: #FFF152;
}

.btn-primary {
  color: $gray;
  border-radius: 50px;
  border: 2px solid;
}

.filter-buttons {
  margin: 3px;
}

.btn-default {
  font-size: 12px;
  color: $gray;
  font-weight: bold;
  padding: 0;
}

.btn-responsive {
  white-space: normal !important;
  word-wrap: break-word;
  font-size: 3vh;
}
