.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  position: relative;
}

.card-product:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.card-product img {
  // height: 20vh; <--This line makes the image shrink and grow depending on size of window
  width: 120px;
  object-fit: cover;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product-infos a {
  color: rgb(100, 100, 100);
  font-weight: bold;
}

.card-product-infos a:hover {
  text-decoration: none;
}

.icon-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding-top: 16px;
  padding-left: 16px;
  flex-grow: 1;
  text-align: center;
  font: 8px;
}

#card-link-text {
  color: rgb(100, 100, 100);
  font-weight: bold;
}

.my-adv-card-icon i {
  position: absolute;
  top: 10px;
  right: 10px;
}

#card-link-text:hover {
  text-decoration: none;
}
