.container-main{
  // display: flex
  text-align: center;
  align-items: center;
}

.container-adventure {
  background-color: white;
  margin-top: -50px;
  position: relative;
}

.container-review {
  text-align: center;
  align-items: center;
}

.card-container {
  grow: 1
}
