.carousel-container {
  position: relative;
  overflow: hidden;
}

.next-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s;
}

.next-list li {
  display: inline-block;
  padding: 0;
  height: 64px;
  margin: 0 1px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
}

.current-image {
  border-radius: 3px;
  width: 100%;
  height: 95vh;
}

.image-of-list {
  width: auto;
  height: 100%;
  opacity: 0.5;
  border-radius: 3px;
  transition: all 0.5s;
}

.current-image-list {
  opacity: 1;
  transition: all 0.5s;
}

.arrow {
  display: flex;
  position: absolute;
  width: 50px;
  height: 100px;
  bottom: 10px;
  flex: 1;
  text-align: center;
  line-height: 50px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.arrow-left {
  left: 10px;
}
.arrow-right {
  right: 10px;
}

/*
 * Animations
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slideInFromLeft {
  animation: slideInFromLeft 0.5s ease-in-out;
}

.slideInFromRight {
  animation: slideInFromRight 0.5s ease-in-out;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

#swipe-box {
  background-color: gray;
  width: 400px;
  height: 400px;
}

#header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bookmark {
  //   margin-bottom: 1.3em;
  display: inline-block;
  align-self: flex-start;
}

#star-rating {
  font-size: 0.8rem;
  display: inline-block;
  align-self: flex-end;
  padding-bottom: 1.75em;
  padding-left: 0.5rem;
}

#adventure-title {
  display: flex;
}

.show-title {
  padding-bottom: 0.5rem;
}

#middle-container {
  display: grid;
  grid-row: 1fr 1fr;
  grid-gap: 1em;
}
