// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "containers";
@import "map";
@import "button";
@import "footer";
@import "card";
@import "search-form";
@import "dashboard";


/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.card-product-infos a {
    font: 10pt;
  }

  .card-product-infos .span {
    font: 7pt;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card-product-infos a {
    font: 12pt;
  }

  .card-product-infos .span {
    font: 8pt;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 .card-product-infos a {
    font: 14pt;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
