#map {
  margin-top: 10px;
  margin-bottom: 10px;
 }

.mapboxgl-popup {
  width: 180px;
  border-radius: 7px;
}

.info-window-image {
  background-size: cover;
}

.mapboxgl-popup-content {
  text-align: center;
  background-color: #F8F8F5;
  font-family: 'Open Sans', sans-serif;
}
