#map {
  margin-top: 10px;
  margin-right: 50%;
  margin-bottom: 10px;
 }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
