.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler{
  border-radius: 50%;
  border-collapse: black;
  border: 1px;
  background-color: #fef200;

}

.navbar-toggler-icon {
  width: 0.8em;
}

